:root {
    --num-rows: 8;
}

body {
    transition: all 2s;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: `0px 0px;
    height: 100vh;
    margin-top: 100px;
}


.left-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    flex-shrink: 0;
    background-color: lightgrey;
    border-radius: 3px;
    justify-content: center;
    padding: 20px 15vw;
}

.right-row {
    flex: 4;
    background-color: azure;
    border-radius: 3px;
    padding: 30px 80px;
    align-self: center;
    display: grid;
    grid-template-columns: repeat(var(--num-rows), 1fr);
    grid-template-rows: repeat(var(--num-rows), 1fr);
    height: 600px;
    width: 600px;
    max-height: 800px;
    max-width: 800px;

}

.controls {
    display: flex;
    gap: 20px;

}

.grid-item {
user-select: none;
border-radius: 3px;
border: 1px grey solid;
}

button {
    border: 1px solid black;
    padding: 10px 20px;
}

button:hover {
    border-radius: 3px;
    transform: scale(1.05);
}

.active {
    background-color: darkgray;
    color: white;
    
}