:root {
    --num-rows: 8;
}

body {
    transition: all 2s;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    padding: 50px 0px;
    height: 100vh;
    margin-top: 100px;
}


.left-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    flex-shrink: 0;
    background-color: azure;
    justify-content: center;
    height: 400px;
}

.right-row {
    flex: 4;
    background-color: azure;
    padding: 30px 80px;
    align-self: flex-start;
    display: grid;
    grid-template-columns: repeat(var(--num-rows), 1fr);
    grid-template-rows: repeat(var(--num-rows), 1fr);
    height: 600px;
    width: 600px;
    max-height: 1000px;
    max-width: 1000px;

}

.grid-item {
user-select: none;
border-radius: 3px;
border: 1px grey solid;
}
